name: Semantic Release

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write
  issues: write

jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'illuminatianon' }}
    concurrency: release

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install python-semantic-release
        run: pip install python-semantic-release

      - name: Run semantic-release
        id: release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          semantic-release version
          semantic-release changelog
          semantic-release publish

      - name: Get new version
        id: version
        run: |
          VERSION=$(grep -Po '(?<=^version = ")[^"]*' pyproject.toml)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

    outputs:
      released: ${{ steps.release.outcome == 'success' }}
      version: ${{ steps.version.outputs.version }}
